.xwebHeader {
	height: 100px;
	background-color: rgb(255, 255, 255);
	background-repeat: no-repeat;
	background-position: 135px 0px;
}

.xwebTitleHeader{
	font-size: 24px;
	color: rgb(48, 162, 172);
	text-align: right;
	
	
}

.error_fieldset {
	margin : 20px;
	border : 1px solid #ACBECE;
}

.error_legend {
	font-weight : bold; 
	margin : 0px 10px 0px 18px;
	font-family: Verdana;
	color: red;
}

.error-container {
	padding: 25px 25px 5px 25px;
	color: red;
}

.cadre_fieldset {
	margin : 20px;
	border : 1px solid #30A2AC;
}

.cadre_fieldsetInterne {
	margin : 0px;
	border : 1px solid #30A2AC;
}

.cadre_fieldset2 {
	margin : 20px;
	border : 1px solid #30A2AC;
	width: 500px;
}
.cadre_legend {
	font-weight : bold; 
	margin : 0px 10px 0px 18px;
	font-family: Verdana;
	color: rgb(48, 162, 172);
}

.cadre-container {
	padding: 5px 25px 5px 25px;
	color: rgb(48, 162, 172);
}


.rich-message-label {
                color:red;
            }
            
.hide_link {
	padding-top:2px;
	padding-right:1px;
	cursor:pointer;
}

.div_center {
width:100%;
text-align: center;
      
}
.verticalTopLeft {
    vertical-align: top;
    width: 500px;
}
.verticalTopRight {
    vertical-align: top;
    width: 800px;
    text-align: left;
}

.verticalTopLeftSimple {
    vertical-align: top;
    text-align: left;
}
.verticalTopRightSimple {
    vertical-align: top;
    text-align: right;
}

.verticalTopLeftGrid {
    vertical-align: top;
}
.verticalTopRightGrid {
    vertical-align: top;
}

.textInfo{
color : rgb(108, 107, 98);
}
 
